.cta-section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 100px;
  padding-bottom: 75px;
  text-align: center;
  color: white;
  background-color: #1E3132;
  position: relative;
}

.cta-heading {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 20px;
}

.cta-subtext {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
  color: #BCBBC9;
  margin-bottom: 32px;
}

.cta-button {
  font-family: inherit;
  background-color: #EC1C24;
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  /* transition: 0.3s ease; */
}